@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<ToDoListAspNetLibrary.Models.Entities.Category>

<div class="container">
    <h1>ToDo List</h1>

    @foreach (var category in Model)
    {
        <ul>
            <li class="list-group-item todo-item">
                <div class="todo-name">
                    <form action="/ToDos/Details" method="get" class="details-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@category.Id" />
                        <h3>@Html.ActionLink(category.Name, "Details", new { id = category.Id })</h3>
                    </form>
                </div>
                @*<button class="btn btn-primary">Edit</button>*@
                <div class="list-group-item-btn">
                    <form action="/ToDos/Edit" method="get" class="edit-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@category.Id" />
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                    <form asp-action="Delete" method="post" class="delete-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@category.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                        @*@if (todo.Status == ToDoListAspNetLibrary.Models.Entities.ToDo.ToDoStatus.NotStarted)
                            {
                                <form action="/ToDos/StartToDo" method="post" class="start-form">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@todo.Id" />
                                    <button type="submit" class="btn btn-success">Start</button>
                                </form>
                            }
                            else if (todo.Status == ToDoListAspNetLibrary.Models.Entities.ToDo.ToDoStatus.InProgress)
                            {
                                <form action="/ToDos/FinishToDo" method="post" class="finish-form">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@todo.Id" />
                                    <button type="submit" class="btn btn-warning">Finish</button>
                                </form>
                            }*@
                    </div>
                </li>
            </ul>
    }

    <form action="/ToDos/CreateToDo" method="get">

        <button class="btn btn-success create-todo-btn">Create a new ToDo</button>
    </form>
</div>