@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<ToDoListAspNetLibrary.Models.Entities.Category>

<div class="container">
    <h1>ToDo List</h1>

    @foreach (var category in Model)
    {
        <ul>
            <li class="list-group-item todo-item">
                <div class="category-name">
                    <form action="/Category/Details" method="get" class="details-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@category.Id" />
                        <h3>@Html.ActionLink(category.Name, "Details", new { id = category.Id })</h3>
                    </form>
                </div>
                <div class="list-group-item-btn">
                    <form class="start-form">
                        <button id="invisible" type="submit" class="btn btn-warning">Start</button>
                    </form>
                    <form action="/Category/Edit" method="get" class="edit-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@category.Id" />
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                    <form asp-action="Delete" method="post" class="delete-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@category.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </li>
        </ul>
    }

    <form action="/Category/Create" method="get">
        <button class="btn btn-success return-btn create-category">Create a new Category</button>
    </form>
</div>